<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Tests Suite" >
    <listeners>
        <listener class-name="Utils.Listiners.TestListener"/>
    </listeners>
    <parameter name="browserName" value="chrome"/>
    <test name="LoginTest">
        <classes>
            <class name="Tests.LoginTest"/>
        </classes>
    </test>
</suite>